:root{
  --color_0:255,255,255;
  --color_1:255,255,255;
  --color_2:0,0,0;
  --color_3:237,28,36;
  --color_4:0,136,203;
  --color_5:255,203,5;
  --color_6:114,114,114;
  --color_7:176,176,176;
  --color_8:255,255,255;
  --color_9:114,114,114;
  --color_10:176,176,176;
  --color_11:255,255,255;
  --color_12:204,204,204;
  --color_13:160,160,159;
  --color_14:96,94,94;
  --color_15:47,46,46;
  --color_16:190,196,216;
  --color_17:149,156,178;
  --color_18:105,113,139;
  --color_19:52,63,100;
  --color_20:26,32,50;
  --color_21:182,232,227;
  --color_22:141,209,202;
  --color_23:65,186,174;
  --color_24:43,124,116;
  --color_25:22,62,58;
  --color_26:182,213,196;
  --color_27:134,170,150;
  --color_28:73,128,98;
  --color_29:0,100,0;
  --color_30:24,43,33;
  --color_31:233,219,195;
  --color_32:211,192,159;
  --color_33:189,155,96;
  --color_34:126,103,64;
  --color_35:63,52,32;
}